spring:
  ai:
    openai:
      api-key: sk-4w9xPMtW********KNtADiGOtrxK7RoX
      base-url: https://ai.32zi.com
      chat:
        options:
          model: claude-haiku-4-5-20251001
  server:
    port: 8080
    netty:
      connection-timeout: 2s